# This is a basic workflow that is manually triggered

name: Generate xcframework assets

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      realm-version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Realm version'
        # Default value if no value is explicitly provided
        default: '20.0.3'
        # Input has to be provided for the workflow to run
        required: true
      xcode-version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Xcode version'
        # Default value if no value is explicitly provided
        default: '26.1.0'
        # Input has to be provided for the workflow to run
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "process"
  process:
    # The type of runner that the job will run on
    runs-on: macos-26
    
    permissions:
      contents: write
      packages: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: "${{ github.event.inputs.xcode-version }}"
        
    - name: Checkout
      uses: actions/checkout@v4
      with:
        repository: realm/realm-swift
        ref: "v${{ github.event.inputs.realm-version }}"
        path: realm

    - name: Build frameworks
      working-directory: realm
      run: |
        sh build.sh build ios-swift
        ls -l build/Release/ios
 
